.dash__top__bar {
    background: indigo;
    width: 100%;
    height: 90px;
    font-family: 'Nunito Sans', 'Helvetica', 'sans-serif' !important;
    ul {
        li {
            list-style: none;
            display: inline-block;
        }
        .cms__brand__name {
            line-height: 90px;
            font-weight: 700;
            font-size: 24px;
            color: white;
            text-shadow: 0 3px 6px rgba(0, 0, 0, .1);
        }
        .cms__add__page {
            transition: all .1s $curve;
            font-family: 'Nunito Sans', 'Helvetica' !important;
            font-size: 12px;
            color: white;
            // text-transform: uppercase;
            font-weight: 700;
            /* font-family: Nunito Sans; */
            padding: 15px 45px;
            background: darkorchid;
            border-radius: 3px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
            /* line-height: 60px; */
            margin: 20px 0;
            i {
                margin-left:10px;
               font-size:11px;
            }
            &:hover {
                cursor: pointer;
                transition: all .1s $curve;
                background:rgba(153,50,204,.7);
                color: rgba(255,255,255,.6);
                box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
               
            }
        }
    }
}

.dash__info__bar {
    width: 100%;
    height: 35px;
    background: $dark-grey;
    ul {
        .gs__brand__name {}
        li {
            i {
                color: $yellow;
                font-size: 12px;
                margin-right: 10px;
            }
            line-height:35px;
            display:inline-block;
            list-style: none;
            color: #666;
            font-size:11px;
            font-weight:bold;
            margin:0 10px;
            // font-weight:bold;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}

.dash__entry {
    padding: 30px;
    margin: 0 auto;
    background: white;
  //  height: 100%;
    //box-shadow:0 3px 6px rgba(0,0,0,.1);
}

.dash__content {
    height: 100%;
}

.dash__title__wrap {
    //text-align:center;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 15px;
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 22px;
        color: #ccc;
    }
}

.side__cms {
    background: $dark-grey;
    height: 100vh;
    padding-top: 35px;
    position: fixed;
    width: inherit;
    z-index: 999;
    ul {
        margin-right: 0;
        margin-left: 0;
        background: $dark-grey;
        li {
            // margin:10px 0;
            display: block;
            list-style: none;
            color: #444;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            padding: 20px 0;
            cursor: pointer;
             border-left: 2px solid transparent;
            /* border: 2px solid #333; */
            /* background: #232323; */
            text-transform: uppercase;
            /* box-shadow: 0px 3px 6px rgba(0,0,0,.2); */
            &:hover {
                &:not(.nav-item-is-active){
                background: #151515;
                border-left: 2px solid #444;
}
               
            }
            i {
                display: block;
                color: #444;
                font-size: 21px;
                margin: 5px 0;
            }
        }
        .nav-item-is-active {
            background: #151515;
            color: white;
            border-left: 4px solid indigo;
            i {
                color: white;
            }
            
        }
    }
}

.side__container {
    transition: all .2s $curve;
    width: 70px;
    float: left;
    i {
        transition: all .3s $curve;
        position: relative;
        top: 7px;
    }
    span {
        transition: all .3s $curve;
        opacity: 0;
    }
    &:hover {
        transition: all .2s $curve;
        width: 200px;
        i {
            transition: all .2s $curve;
            top: -7px;
        }
        span {
            transition: all .2s $curve;
            opacity: 1;
             
        }
         .nav-item-is-active {
                   // background:indigo;
                   span {
                       padding-bottom:5px;
                       border-bottom:2px solid darkorchid;
                   }
                }
    }
}

.cms__page__list {
    margin:20px 0;

    h3 {
      //  text-align:center;
        font-size:30px;
        font-family: Nunito Sans;
        padding-bottom:5px;

    }
    .cms__pages__sub__header {
       // display:block;
        width:100%;
    }
}

.cms__dash__overview__card {
    cursor:default;
    margin:15px 0;
    text-align:center;
    background:white;
    @include br(3px);
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
   border: 2px solid indigo;
 
   .title__card {
         padding:20px;
         .title__image {
           width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    @include br(50%);
     margin: 0 auto;
             
         }
       img {
     display: inline;
   
    height: 100%;
    max-width:100px;
    width: auto;
    text-align:center;
       }
    span {
       
        font-size:24px;
        color:#202020;
        small {
            display:block;
            font-size:12px;
            color:#999;
        } 
    }   
    }
    &:hover {
        box-shadow: 0 3px 16px rgba(0,0,0,.4); 
    }
}
  .add-new {
    background:#ddd;
    border:none;
    cursor:pointer;
    transition: all .1s $curve;
    &:hover {
        transition: all .1s $curve;
        background:darkorchid;
       
        i {
 color:white !important;
        }
    }
    .title__card {
        i {
            font-size:60px;
            color:#bbb;
            padding:25px;
            text-align:center;
        }
    }
   }
.cms__dash__overview__card__options {
    position: relative;
    top: 16px;
    /* width: inherit; */
    border-top: 1px solid #f4f4f4;
    background: indigo;
    ul {
        li {
            cursor:pointer;
           // padding:10px;
            display:inline-block;
            list-style:none;
            color:#ccc;
            font-size:12px;
            a {
    color: #ccc;
    display: inline-block;
    /* height: 100%; */
    width: 100%;
    padding: 10px;
                 &:hover {
                      color:white;
                 }
            }
            i {
                padding:0 10px;
            }
            &:hover {
                color:white;
                background:rgba(0,0,0,.2);
                //@include br(3px);
            }
        }
    }

}
    .cms__delete__trip__on__card{
        position:relative;
        top:4px !important;
    }