.au__trip {
    transition: background-size 1s ease !important;
    z-index: 1;
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        z-index: -1;
    }
    width:100%;
    //height:380px;
    .au__trip__inner {
        position: relative;
        top: 0;
        margin: 30px 0 60px 0;
    }
    .au__trip__hero {
        margin: 0 auto;
        text-align: center;
        h1,
        h2,
        p,
        i {
            @include ts(.3);
        }
        h2 {
            font-size: 26px !important;
            padding: 0;
            margin: 0 0 10px 0;
        }
        p {
            color: white;
            font-size: 15px;
            font-family: 'Nunito';
        }
        i {
            color: white;
            font-size: 24px;
        }
        .trip__learn__more {
            i {
                transition: all .2s !important;
                font-size: 16px;
                padding: 0 10px;
                position: relative;
                left: 35%;
                right: 0;
            }
            transition: all .2s !important;
            @include btn__au(14px);
            border:0 !important;
            //padding: 15px 0 !important;
            span {
                opacity: 0;
                height: 0;
            }
            &:hover {
                i {
                    left: 0%;
                }
                span {
                    // padding: 15px 25px !important;
                    transition: all .2s ease;
                    opacity: 1;
                    height: auto;
                }
            }
        }
    }
    .au__trip__detail {
        width: 100%;
        background: #222;
        //height:200px;
        -webkit-box-shadow: 0px -12px 42px -6px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px -12px 42px -6px rgba(0, 0, 0, 0.55);
        box-shadow: 0px -12px 42px -6px rgba(0, 0, 0, 0.55);
        .breadcrumbs {
            margin: 35px 0;
            color: white;
            li {
                color: white;
                font-family: "Nunito" !important;
                font-size: 12px !important;
                text-transform: none;
                a {
                    color: white;
                    &:hover {
                        text-decoration: none;
                        color: rgba(0, 0, 0, .5);
                    }
                }
            }
        }
        .tabs {
            background: none;
            border: 0;
            i {
                color: $blue;
                padding: 0 10px;
            }
            li a {
                font-size: 16px;
                font-weight: bold;
                color: $blue;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                padding: 15px 35px;
                background: $yellow;
               // @include ts();
            }
            li:hover a {
                background: $yellow-hover !important;
            }
            li.is-active a {
                background: white !important;
                color: $blue !important;
            }
            li {
                margin: 0 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }
    }
    .au__trip__detail__panel {
        background: white;
        
    }
    .au__tab__container {

        padding:50px 0;
        width:100%;
        h2, 
        h3,
        h4,
        h5,
        h6 {
            font-family: Nunito;
            color: $blue;  
        }
        h3 {
           
            font-size:20px;
            display:inline-block;
            padding: 10px;
        }
        h4 {
             font-size:16px;
            font-weight:bold;
            text-transform: uppercase;
        }
        h6 {
           
        }
        h5 {
           
          //  background:rgba(0,0,0,.1);
            padding:5px;
            border-bottom: 2px solid $blue;
            span {
                float:right;
                cursor:pointer;
                color: #999;
              
            }
             .dropdown__active {
                    transition: all .2s ease-in-out;
                    transform:rotate(180deg);
                }
        }
        .au__tab__trip__detail__point {
            display:block;
            text-align:center;
            i {
                color:$yellow;
                font-size:20px;
            }
            h4 {
                color:#111;
                font-weight:bold;
                padding:5px 0;

                //display:inline-block;
                
            }
            h2 {
                font-size:20px;
             color:grey;
            }
        }
    }
    
    .au__trip__pane {
        @include br(3px);
        background: #eaf0f4;
        border:1px solid #b9c9d5;
        padding:15px;
        margin:20px 0;
        .au__trip__activities {
            font-family: "Nunito";
            font-weight:bold;
            font-size:15px;
            i {
            color: #3cb878;
            }
            .au__activity a {
                display:inline-block;
                color:$blue !important;
            
            }
            
        }
        p {
            font-size:13px;
            font-family:Roboto;
        }
        .au__activity__description {
            font-family: Nunito;
            .au__sub__activity {
                background:white;
                text-align:center;
                padding:20px;
                box-shadow: 0 2px 7px rgba(0,0,0,.1);
                @include br(3px);
                margin:15px 0;
            }
                p {
                    margin:10px 0;
                    font-size:13px !important;
                }
                .au__dates {
                  //  background:$blue;
                    //@include br(3px);
                    //padding: 6px;
                    position:relative;
                    i {
                        
                        padding:6px;
                        background:#333;
                        color:$yellow;
                        @include br(75px);
                        font-size:14px;
                    &:first-child {
                        &:after {
                            //content: ''
                        }
                    }
                    }

                }
                    .au__to__arrow {
                        
                        position:absolute;
                        top: 0;
                          left: 43%;
                        i {
                            background:none !important;
                            color:#ccc !important;
                            border-radius:0;
                        }
                    }   
                    span {
                        margin:10px 0;
                        text-transform: uppercase;
                        font-weight:bold;
                        font-family: Roboto;
                        font-size:11px;
                        color:$blue;
                        @include br(75px);
                        background:$yellow;
                        padding:3px 6px;
                    }
                   
                
            }
    }
 .au__3__block__info {
      font-family:Nunito;
      text-align:center;
     font-size:13px;
     color:$blue;
     span {
         display:block;
         font-size:45px;
         color:$yellow;
         font-weight:bold;
        
     }
 }  
  .points {
      ul {
          li {
              display:inline-block;
              list-style: none;
              padding:0 25px;
             
          }
      }
  }
}
.newsletter__success {
    text-align:center;
    transition: .3s ease;
   // display:none;
   opacity:1;
    i {
           font-size: 42px;
    display: block;
    color: forestgreen;
    }
    .ng-hide {
        transition:.3s ease;
        opacity:0;
    }
}
