.au__trip {
    width:100%;
    //height:380px;
    .au__trip__inner {
        position:relative;
        top:-50px;
    }
    .au__trip__hero {
        margin: 0 auto;
        text-align:center;
        h1,
        h2,
        p,
        i{
            @include ts(.3);
        }
        h2 {
            font-size:26px !important;
            padding:0;
            margin:0;
        }
        p {
            color:white;
            font-size:15px;
            font-family: 'Nunito';
        }
        i {
            color:white;
           
            font-size:24px;
        }
        .trip__learn__more {
            @include btn__au(14px);
            border:0 !important;
        }
    }

    .au__trip__detail {
        width:100%;
        background: $blue;
        //height:200px;
        -webkit-box-shadow: 0px -12px 42px -6px rgba(0,0,0,0.55);
-moz-box-shadow: 0px -12px 42px -6px rgba(0,0,0,0.55);
box-shadow: 0px -12px 42px -6px rgba(0,0,0,0.55);

        .breadcrumbs {
            margin: 35px 0;
            color:white;
            li {
                color:white;
                font-family: "Nunito" !important;
                font-size:12px !important;
                text-transform: none;
                a{
                    color:white;
                    &:hover{
                        text-decoration: none;
                        color: rgba(0,0,0,.5);
                    }
                }
            }
        }

        .tabs {
            background:none;
            border:0;
            i {
                color:#333;
                padding:0 10px;
            }
            li a {
                font-size:18px;
                font-weight:bold;
                color: $blue;
                 border-top-left-radius:3px;
                border-top-right-radius:3px;
                padding:25px 65px;
                background:$yellow;
               
            }
            li:hover a {
                background:$yellow-hover !important;
            }
            li.is-active a{
                background:white !important;
                
            }
            li {
                 margin: 0 3px;
               border-top-left-radius:3px;
                border-top-right-radius:3px; 
            }
        }
    }
    .au__trip__detail__panel {
        background:white;

    }
}