//Variables for palette
$yellow: #ffc135;
$blue: #1b367b;
$dark-grey: #202020;
$grey: #707070;
$yellow-hover: #e5ae30;
$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
/*Mixins!*/

//Border radius usage: @include br(param)
//Defaults to 2px if no param is passed
@mixin br($r: 2px) {
  -ms-border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
  border-radius: $r;
}

@mixin ts($o: .3) {
  text-shadow: 0 1px 2px rgba(0, 0, 0, $o);
}

@mixin btn__au($fs: 12px) {
  transition: all .15s ease;
  font-size: $fs;
  font-weight: 700 !important;
  @include br();
  padding: 15px 40px;
  border: 2px solid $yellow;
  display: inline-block;
  margin: 5px 0;
  &:hover {
    color: white;
    background: $yellow-hover !important;
    border-color: $yellow-hover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .65);
  }
  &:focus {}
}

.yellow {
  background: $yellow !important;
}

.blue {
  background: $blue !important;
}

.container {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: #202020;
}

h1,
h2,
a {
  font-family: Nunito, sans-serif !important;
  color: white;
}

.outline {
  background: rgba(0, 0, 0, .2) !important;
  color: white !important;
}

.fact__box__au {
  background: rgba(0, 0, 0, .5);
  @include br(3px);
  padding: 10px;
  color: white;
  width: 100%;
  max-width: 455px;
  span {
    font-family: 'Nunito';
    font-size: 14px;
  }
}

.rating__dot {
  border-radius: 75px;
  background: $dark-grey;
  height: 20px;
  width: 20px;
  display: inline-block;
}

//activity panel
.featured__slide {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.02);
    transform-origin: center;
  }
  cursor: pointer;
  background: url('../img/au__sld.png') no-repeat;
  background-size: cover;
  @include br(3px);
  width: 100%;
  height: 300px;
  box-shadow: 0 1px 3px rgba(0,
  0,
  0,
  .5);
  padding: 20px;
  p {
    color: white;
    font-weight: 700;
    font-family: Nunito;
    @include ts(.2);
  }
  .slide__content {
    position: relative;
    bottom: 0;
    height: 70px;
    .slide__price {
      
      h2 {
        
        font-weight: 700;
        @include ts();
        small {
        
          display: block;
          font-size: 30%;
        }
        position: absolute;
        right: 20px;
      }
    }
  }
  .slide__bottom {
    position: relative;
    bottom: 0;
    top: 50%;
    .trip__length {
      margin-top: 5px;
      text-align: center;
      display: inline-block;
      p {
        margin: 10px 0;
        @include ts(.9);
       
        small {
    padding: 11px;
    background: #1b367b;
    position: relative;
    top: 24px;
    border-radius: 3px;
        }
      }
    }
    .cta__btn__group {
      display: inline-block;
      margin: 1.5em 0 !important;
      position: absolute;
      right: 0;
      .btn__au {
        @include btn__au(15px);
        padding: 6px 45px;
        color: $blue;
      }
    }
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.loader {
  margin: 0 auto 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid rgba(255, 255, 255, 0.2);
  border-right: .2em solid rgba(255, 255, 255, 0.2);
  border-bottom: .2em solid rgba(255, 255, 255, 0.2);
  border-left: .2em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.fact__content.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(.7);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
   
  }
}

.bounce-in-card.ng-enter {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}
.sign__up__message .ng-hide-add {
  opacity:0;
  transition:all .3s ease;
}
 .fact__box__au .ng-hide {
  -webkit-animation:0.3s hide;
  animation:0.3s hide; 
 }
.fact__box__au .ng-enter-add {
   -webkit-animation:0.3s show;
  animation:0.3s show;
}

@keyframes show {
  0% {
    opacity:.3;
    transform: scale(0.95);
  }

  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:.3;
    transform: scale(0.95);
  }

  100% { 
    opacity:1;
    transform: scale(1);
  }
}
.bounce-in-card.ng-move,
.bounce-in-card.ng-leave,
{
  -webkit-animation:0s hide;
  animation:0s hide;
}
.btn {
  @include btn__au(3px);
  font-size:16px;
}
.btn-fw {
  width:100%;
  text-align:center;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-hide-remove {
  //transition: all .3s ease;
  opacity:0;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
.notif {
  display:block;
  width:100%;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: 85%; /* Set a default minimum width */
    width:350px;
   // margin-left:42.5%; /* Divide value of min-width by 2 */
    background-color:dodgerblue; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
   // left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    margin: 0 auto;
    left:0;
    right:0;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.unslider-nav ol li {
  padding:5px;
}

.au__loader {
  transition: .5s ease all;
  z-index:99999;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.85);
  margin: 0 auto;
  text-align:center;
  position:absolute;
   i{
     position:relative;
     top:20%;
     color:$yellow;
      z-index:99999;
   }
   .loader{
     position: relative;
     top:35%;
     font-size: 20px;
       -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
  border-left-color: $yellow;
   }
}
.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--green;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 3% auto;
  box-shadow: inset 0px 0px 0px $color--green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color--green;
  }
}