.hero__au {
    background: url('../img/au__bg.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;

    //Landing content
    .hero__content__au__wrap {
      .hero__content__au {
        .cta__land {
          h1 {
            font-size:55px;
            small {
              display:block;
              font-size:60%;
              color:white;
              margin:.4em 0;
            }
          }
          .cta__btn__group {
            display:inline-block;
            margin:4.5em 0 !important;
            .btn__au {
              @include btn__au(15px);
              color: $blue;
            }
          }
        }
      }
  }
}
