//Mobile
@media screen and(max-width: 640px) {

}
//Tablet
@media screen and(max-width: 1025px) {
 
  .hero__au {
    height:inherit;
  }
  //Landing content
  .hero__content__au__wrap {
    margin-top:0 !important;
    .hero__content__au {
      .cta__land {
       
        margin:0 auto;
        text-align:center;
        h1 {
          font-size:55px;
          small {
            display:block;
            font-size:60%;
            color:white;
            margin:.4em 0;
          }
        }
      }
    }
}
.fact__box__au {
  margin: 0 auto;
}
.landing__featured__trips__au {
  margin:3.5em 0;
}
.bf__au__hm {

}
 .cta__btn__group {
          .btn__au {
            width:100%;
            padding: 20px 0;
          }
        }
         //Activity page tablet
  .au__trip__inner .au__trip__hero {
    h1 {
      font-size:24px !important;
    }
    h2 {
      font-size:16px!important;
      margin-bottom:10px;
    }
  }
  .au__trip__detail__tabs {
    ul {
      
      li span{
        display:none;
      }
      li {
        text-align:center !important;
        width:23%;
       
      }
      li a {
         padding:10px 0 !important;
      }
    }
  }
}

//BESPOKE QUERY FOR HEADER ON DEVICES
@media screen and(max-width: 840px) {
  header {
    nav {
      ul {
        li {
          &:not(.m) {
            display:none !important;
          }
        }
      }
    }
  }
}
