//Mobile
@media screen and(max-width: 640px) {

  .datepicker.dropdown-menu td, .datepicker.dropdown-menu th {
    padding: 10px 0px;
}
  .slide__price {
    small {
      font-size:14px;
    }
  }
  .featured__slide .slide__bottom .cta__btn__group {
display: block !important;
    margin: -2.5em 0 !important;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
}
  .featured__slide .slide__bottom {

  
  .trip__length {
    display:block !important;
     p small {
  
    padding: 11px;
    background: #1b367b;
     position: relative; 
     top: 0; 
    border-radius: 3px;
    width: 100% !important;
    display: block;
     }
}
}
  .au__to__arrow {
    display:block !important;
    left:47% !important;
   
  }
  .au__copy p {
    text-align:center;
    float:none;
  }
  .au__copy__content {
    text-align:center;
  }
  .au__copy .au__gs__plug {
    float:none !important;
  }
  .au__partners {
    text-align:center;
    .partner-img {
      margin:20px 0;
    }
  }
.cta__land h1 {
  font-size: 32px !important;
}
.bf__trips__grid {
  .bf__grid__item {
    text-align:center !important;
    .slide__price {
      h2 {
        font-size:40px !important;
        position:relative;
        right:0;
        left:0;
        margin:15px auto;
        
      }
    }
    .slide__content {
      .trip__length {
        display:none;
      }
    }
    .cta__btn__group {
      display: block !important;
    margin: -2.5em 0 !important;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;

  }
}
}
}
//Tablet
@media screen and(max-width: 1025px) {
  .au__to__arrow {
    display:none;
  }
  .newsletter__au {
    h2 {
      text-align:center !important;
      font-size:80%;
    }
    h3 {
      text-align:center;
      font-size:80%;
    }
    margin-top:20px !important;
    input {
      width:100% !important;
    }
    a {
      display:block;
      text-align:center;
      position:relative !important;
    }
  }
  .hero__au {
    height:inherit;
  }
  //Landing content
  .hero__content__au__wrap {
    margin-top:0 !important;
    .hero__content__au {
      .cta__land {
       
        margin:0 auto;
        text-align:center;
        h1 {
          font-size:55px;
          small {
            display:block;
            font-size:60%;
            color:white;
            margin:.4em 0;
          }
        }
      }
    }
}
.fact__box__au {
  margin: 0 auto;
}
.landing__featured__trips__au {
  margin:3.5em 0;
}
.bf__au__hm {

}
 .cta__btn__group {
          .btn__au {
            width:100%;
            padding: 20px 0;
          }
        }
         //Activity page tablet
  .au__trip__inner .au__trip__hero {
    h1 {
      font-size:24px !important;
    }
    h2 {
      font-size:16px!important;
      margin-bottom:10px;
    }
  }
  .au__trip__detail__tabs {
    ul {
      
      li span{
        display:none;
      }
      li {
        text-align:center !important;
        width:23%;
       
      }
      li a {
         padding:10px 0 !important;
      }
    }
  }
}

//BESPOKE QUERY FOR HEADER ON DEVICES
@media screen and(max-width: 840px) {
  header {
    nav {
      ul {
        li {
          &:not(.m) {
            display:none !important;
          }
        }
      }
    }
  }
}
