input,
select,
.btn__search {
    font-size: 13px !important
}

.long__inputs {
    display: block;
    margin: 3vh auto !important;
}

.long__inputs ul li {
    display: inline-block;
    list-style: none;
}

.long__inputs ul {
    width: 100%;
    margin: 0 auto !important;
    position: relative;
    left: 6px;
}

.text__i {
    border: 1px solid rgba(0, 0, 0, .08) !important;
    box-shadow: none !important;
    height: 3.4rem !important;
}

.btn__i {
    display: inline-block;
    box-shadow: none !important;
    background: $blue !important;
    color: $yellow !important;
    width: 100% !important;
    line-height: 54px !important;
    text-align: center;
    &:hover {
        background: #112556 !important;
    }
}

.btn__search {
    width: 16.666% !important;
}

.inputs select:not(.i__m) {
    box-shadow: none;
    height: 3.4rem !important;
}

.inputs select {
    height: 3.4rem !important;
    border-color: rgba(0, 0, 0, .1);
    color: #777 !important;
}

.inputs {
    margin-left: -5px;
}

.inputs:last-child {
    margin-left: -5px;
}

.inputs:first-child {}

.sel__i:not(:first-child) {
    border-left-color: rgba(0, 0, 0, 0) !important;
}

.inputs input:focus,
.inputs select:focus {
    box-shadow: 0 1 5px rgba(0, 0, 0, 1) !important;
}

.i__c {
    width: 16.6666% !important;
}

.i__dr {
    width: 16.6666% !important;
}

.sel__i select {
    background-size: 25px 11px;
    background-image: url(../img/f1db63e534a3ee436d0ee3453e9a74e9.svg) !important;
}

.sel__i select option {
    font-size: 14px;
}

.sel__i {
    width: 16.6666% !important;
}

.sel__i select:focus {
    color: #333 !important;
}

.i__s {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.i__e {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-left-color: rgba(0, 0, 0, 0) !important;
}

.i__m {
    border-right-color: rgba(0, 0, 0, .08) !important;
    border-left-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0 !important;
}

input#dr2 {
    margin-left: 0px;
}

.long__inputs ul li input,
.long__inputs ul li select,
.btn__i,
.btn__search {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.inputs i {
    position: relative;
    top: 34px;
    right: 10px;
    float: right;
    color: #333 !important;
}

.sel__i:hover {
    cursor: pointer !important;
}

#dr1:hover,
#dr2:hover {
    cursor: pointer;
}

.datepicker {
    display: none;
    position: absolute;
    padding: 4px;
    margin-top: 1px;
    direction: ltr
}

.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #333;
    font-size: 13px;
    line-height: 18px;
}

.datepicker.dropdown-menu td,
.datepicker.dropdown-menu th {
    padding: 10px 15px
}

.datepicker table {
    border: 0;
    margin: 0;
    width: auto;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer
}

.datepicker td {
    background: #fff
}

.datepicker td span.active,
.datepicker td.active.day,
.datepicker td.active.year {
    background: #2993ff;
    color: white;
}

.datepicker td.new,
.datepicker td.old {
    color: #999
}

.datepicker td span.month.disabled,
.datepicker td span.year.disabled,
.datepicker td.day.disabled {
    color: #eee
}

.datepicker th {
    background: #fff
}

.datepicker th span.active,
.datepicker th.active.day,
.datepicker th.active.year {
    background: #2993ff;
    border-radius: 2px;
}

.datepicker th.date-switch {
    width: 145px;
    color: #333;
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle
}

.datepicker.days div.datepicker-days,
.datepicker.months div.datepicker-months,
.datepicker.years div.datepicker-years {
    display: block
}

.datepicker-dropdown:after,
.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    position: absolute
}

.datepicker thead tr:first-child th {
    cursor: pointer
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent
}

.datepicker tfoot tr:first-child th {
    cursor: pointer
}

.datepicker-inline {
    width: 220px
}

.datepicker-rtl {
    direction: rtl
}

.datepicker-rtl table tr td span {
    float: right
}

.datepicker-dropdown {
    top: 0;
    left: 0
}

.datepicker-dropdown:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: 1px solid rgba(0, 0, 0, .2);
    top: -7px;
    left: 6px
}

.datepicker-dropdown:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -6px;
    left: 7px
}

.datepicker-dropdown::after,
.datepicker-dropdown::before,
.datepicker>div {
    display: none
}

.datepicker-close {
    position: absolute;
    top: -30px;
    right: 0;
    width: 15px;
    height: 30px;
    padding: 0;
    display: none
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent
}

@media (max-width: 800px) {
    .i__c,
    .btn__search {
        width: 100% !important;
    }
    .i__dr,
    .sel__i {
        width: 50% !important;
        
    }
    .long__inputs {
        margin: 0 auto !important;
    }
    .i__s,
    .i__e,
    .i__m {
        border-left-color: rgba(0, 0, 0, 0.08) !important;
        border-right-color: rgba(0, 0, 0, 0.08) !important;
        border-radius: 3px !important;
    }
    .btn__i {
        border-radius: 3px !important;
    }
    .datepicker.dropdown-menu {
        width: 86% !important;
    }
    .datepicker table {
        width: 100% !important;
    }
}

.bar {
    display: none;
    width: 100%;
    height: 5px;
    background: linear-gradient(92deg, #ffe300, #ffa000, #f9ff00);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 39%
    }
    50% {
        background-position: 100% 62%
    }
    100% {
        background-position: 0% 39%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 39%
    }
    50% {
        background-position: 100% 62%
    }
    100% {
        background-position: 0% 39%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 39%
    }
    50% {
        background-position: 100% 62%
    }
    100% {
        background-position: 0% 39%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 39%
    }
    50% {
        background-position: 100% 62%
    }
    100% {
        background-position: 0% 39%
    }
}

ul {
    margin-left: 0 !important;
}

body {
    background: #fefefe !important;
    padding: 0 !important;
}
.au__search {
h1 {
    margin: 25px 0 !important;
}
}
