body {
    background: #202020 !important;
}

.au__search {
   background: url(../img/au__bg.jpg) #202020 no-repeat;
    -ms-background-size: cover;
    -moz-background-size: cover;
    /* -webkit-background-size: cover; */
    /* background-size: cover; */
    background-position: center top;
    width: 100%;
    /* height: 100%; */
           .loader{
     position: relative;
     display:inline-block;
     font-size: 13px !important;
     margin-left:10px;
       -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
  border-left-color: $yellow;
   }
   .bf__au__hm {
    background:none;
}
   .au__searching {
       opacity:.2;
   }
    #card:last-of-type {
        clear:both;
        margin: 0 auto;
    }
    .load__more__button {
            
            margin: 30px auto;
            .button {
                display:block;
                background: #1b367b;
                width: 100%;
                font-size: 20px;
                i {
                    font-size: 90%;
                    padding: 0 10px;
                }
            }
        }
    .au__search__results__container {

        .au__search__result__card {
            text-align: center;
            margin: 10px 0;
           // display: inline-block;
            width: 100%;
            background: #fefefe;
            border-radius: 3px;
            color: #444;
            &:hover{
               
               
                .card__img {
                     transition: all .4s ease-in-out;
                     .on__img {
 transition: all .4s ease-in-out;
                    background:rgba(0,0,0,0);
                }
                    img {
                        
                    }
                }
            }
            p {
                margin-bottom:0;
                font-family: 'Nunito';
            }
            h1 {
                font-size: 20px;
                color: #1b367b;
                margin: 10px 0 0 0 !important;
            }
            .trip__info__group {
                li {
                    font-family: 'Nunito';
                    font-size:13px;
                    display:inline-block;
                    margin: 0 5px;
                    font-weight:700;

                    i{
                        color:#ffc135;
                        padding-right:5px;
                    }
                    
                }
            }
            .card__content {
                padding: 15px;
            }
            .card__img {
                background:#e5e5e5;
                position:relative;
              
                .reco__tour {
                    font-size:13px;
                    font-weight:bold;
                    background:#ffc135;
                    @include br(75px);
                    padding:5px 15px;
                    color:#1b367b;
                    text-transform:uppercase;
                    &:hover {
                       // background:#1b367b;
                       // color:#ffc135;
                    }
                }
                .on__img {
                        position: absolute;
    /* top: 20%; */
    left: 0;
    /* display: table; */
    right: 0;
   // background: rgba(0,0,0,.4);
  //  height: calc(100% - 63px);
     padding-top: 50px; 
    width: 100%;
    
                }
                img {
                    vertical-align: baseline;
                    height: auto;
                    width: 100%;
                    max-height:210px;
                }
                //display:inline-block;
            }
            .view__trip {
                display: block;
                .view__trip__btn {
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    margin: 10px 0;
                    padding: 15px 25px;
                    background: #ffc135;
                    color: #1b367b;
                    border-radius: 3px;
                    box-shadow: 0 1 3px rgba(0, 0, 0, .4);
                    transition: all .2s;
                    &:hover {
                        background: #1b367b;
                        color: #ffc135;
                    }
                }
            }
            .trip__types {
                display: inline-block;
                font-family: 'Nunito';
                color: #1b367b;
                font-weight: bold;
                font-size: 13px;
                -webkit-padding-start: 0 !important;
                margin: 10px auto;
                li {
                    line-height: 30px;
                    margin: 0 10px;
                    display: inline-block;
                    text-decoration: none;
                    text-align: center;
                    i {
                        display: block;
                        padding: 0 5px;
                        color: #ffc135;
                    }
                }
            }
        }
    }
    .au__search__form__container {
        label {
            color: #ffc135;
            padding: 10px;
            font-weight: bold;
            font-size: 16px;
        }
        margin-top:3em;
        font-family: 'Nunito';
        input[type="text"] {
            padding: 25px 45px;
            background: rgba(0, 0, 0, .75);
            outline: none;
            border: none;
            color: #ffc135;
            font-family: inherit;
            font-size: 13px;
            font-weight: bold;
            &:focus {
                box-shadow: none;
                outline: 0;
                border: none;
            }
        }
        .search__btn {
            transition: all .2s;
            padding: 25px;
            display: block;
            text-align: center;
            background: #1b367b;
            border-radius: 3px;
            color: #ffc135;
            font-size: 15px;
            font-weight: bold;
            &:hover {
                opacity: .75;
            }
        }
        .au__select {
            font-size: 13px;
            font-weight: bold;
            //background:#333;
            option {
                padding: 10px;
                color: black !important;
            }
        }
        .overnight__box {
            font-weight: bold;
            color: #ffc135;
            font-size: 14px;
        }
    }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: inline !important;
}

