<div class="cms">
    <div class="row expanded">
        <div class="side__container">
            <div class="side__cms">
                <ul>
                    <li class="" ng-click="goTo('dash')">
                        <div class="cms__side__option">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </div>
                    </li>
                    <li class="nav-item-is-active">
                        <div class="cms__side__option">
                            <i class="fa fa-file"></i>
                            <span>ADD PAGE</span>
                        </div>
                    </li>
                    <li ng-click="goTo('partners')">
                        <div class="cms__side__option">
                            <i class="fa fa-newspaper-o"></i>
                            <span>partners</span>
                        </div>
                    </li>
                    <li ng-click="goTo('messages')">
                        <div class="cms__side__option">

                            <i class="fa fa-commenting">
                             <div class="notif__bubble"></div>
                        </i>
                            <span>Messages</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column no-gutter">
            <div class="dash__main__head">
                <div class="dash__info__bar">
                    <div class="">
                        <div class="columns no-gutter">
                            <ul>
                                <li class="fr" sign-out><i class="fa fa-sign-out"></i>Sign out</li>

                                <li class="fr"><i class="fa fa-user-circle"></i>{{user.fn +' ' +user.ln}}</li>
                                <li class="gs__brand__name">Greenshark CMS <small>alpha</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <header class="dash__top__bar sticky" id="s" data-sticky data-top-anchor="s">

                    <div class="">
                        <div class="row expanded">
                            <div class="small-11 columns ">
                                <ul>
                                    <li class="cms__brand__name">Alaska Unguided</li>
                                    <li class="fr cms__add__page" start-new-trip>Back to dash <i class="fa fa-undo"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

            <div class="small-12 columns no-gutter pos-rel">
                <!--<div class="load__wrap on-dash-loader" ng-if="isBusy">
                      <div class="loader" ></div>
                     
                </div> -->

                <div class="dash__entry">
                    <div class="dash__title__wrap row expanded">
                        <div class="small-12 columns">
                            <div class="dash__page__heading small-12 medium-6 columns">
                                <h1>Add page
                                    <div class="l-anim on-dash-loader" ng-if="isBusy"></div>
                                </h1>
                                <h2>Add a trip to Alaska Unguided</h2>
                            </div>
                          
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="small-12 columns">
                            <div class="cms__page__list row expanded">

                                <div class="small-9 columns">
                                    <form class="row expanded cms__add__page__form">
                                        <div class="small-12 medium-6  columns">
                                            <label for="pagename">Trip name</label>
                                            <input name="pagename" type="text" placeholder="Page name..." ng-model="tn" />
                                        </div>
                                        <div class="small-12 medium-6 columns">
                                            <label for="pagesummary">Trip summary</label>
                                            <input name="pagesummary" type="text" placeholder="Short description..." ng-model="ts" />
                                        </div>
                                        <div class="small-12 medium-6  columns">
                                            <label for="pagecategory" class="cat__label">Trip type <span>Not listed? <a add-trip-type>Add category</a></label>
                                            <select name="pagecategory" ng-model="tt">
                                            <option>Test category</option>
                                          </select>
                                        </div>
                                        <div class="small-12 medium-6  columns">
                                            <label for="pagecost" class="cat__label">Trip cost</label>
                                            <select name="pagecost" ng-model="tc">
                                            <option>$</option>
                                            <option>$$</option>
                                            <option>$$$+</option>
                                          </select>
                                        </div>
                                         <div class="small-12 medium-6  columns">
                                            <label for="pagetransports" class="cat__label">Transportation options <span>Hold ctrl to select more</span></label>
                                          <label>
  <select multiple ng-model="transport">
    <option value="fatbiking">Fat biking</option>
    <option value="vehicle">Vehicle</option>
    <option value="atv">ATV</option>
    <option value="hardball">Biking</option>
        <option value="hiking">Hiking</option>
            <option value="walking">Walking</option>
                <option value="swimming">Swimming</option>
                    <option value="flying">Flying</option>
  </select>
</label>
                                        </div>
                                        <div class="small-12 medium-6  columns">
                                            <label for="pagetransports" class="cat__label">Trip activities <span>Not listed? <a add-sub-activity>Add activity</a></label>
                                          <label>
  <select multiple ng-model="ta">
    <option value="fatbiking">Fat biking</option>
    <option value="vehicle">Vehicle</option>
    <option value="atv">ATV</option>
    <option value="hardball">Biking</option>
        <option value="hiking">Hiking</option>
            <option value="walking">Walking</option>
                <option value="swimming">Swimming</option>
                    <option value="flying">Flying</option>
  </select>
</label>
                                        </div>
                                        <div class="small-12 medium-12  columns">
                                          
                                            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
                                        </div>
                                        <div class="small-12 medium-12 columns">
                                            <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="">
                                            <label for="fileElem" class="cms__fi__label">Click here to upload images for this page <i class="fa fa-upload"></i></label>
                                        </div>
                                          
                                    </form>

                                </div>
                                <div class="small-3 columns" >
                                    <div class="row expanded">
                                        <h4>Trip overview</h4>
                                            <div class="trip__detail">
                                                <p>Trip name</p>
                                                <small ng-bind="tn"></small>
                                                </div>
                                                 <div class="trip__detail">
                                                <p>Trip description</p>
                                                <small ng-bind="ts"></small>
                                                </div>
                                                 <div class="trip__detail">
                                                <p>Trip type</p>
                                                <small ng-bind="tt"></small>
                                                </div>
                                                <div class="trip__detail">
                                                <p>Trip cost</p>
                                                <small ng-bind="tc"></small>
                                                </div>
                                                 <div class="trip__detail">
                                                <p>Trip activities</p>
                                                <div ng-repeat="t in ta">
                                                <small >{{t}}</small>
                                                </div>
                                                </div>
                                                 <div class="trip__detail">
                                                <p>Trip transportation</p>
                                                <div ng-repeat="t in transport">
                                                <small >{{t}}</small>
                                                </div>
                                                </div>
                                                 <div class="trip__detail">
                                                <p>Trip description</p>
                                               
                                                <small ng-bind="tinymceModel"></small>
                                                
                                                </div>
                                                 <div class="cms__publish__page__wrap small-12 medium-12 columns">
                        <span class="cms__publish__btn">Publish page <i class="fa fa-plus-square"></i></span>
                    </div> 
                                        </div>
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>