<div class="dash__main__head">
    <div class="dash__info__bar">
        <div class="container">
            <div class="small-12 columns">
                <ul>
                     <li class="fr"><i class="fa fa-sign-out"></i>Sign out</li>
                   
                    <li class="fr"><i class="fa fa-user-circle"></i>{{user.fn +' ' +user.ln}}</li>
                    <li class="gs__brand__name">Greenshark CMS</li>
                </ul>
                </div>
            </div>
    </div>
    <header class="dash__top__bar">

        <div class="container">
            <div class="row expanded">
                <div class="small-12 columns">



                </div>
            </div>
        </div>
    </header>
</div>
<section class="dash__entry">

</section>