<div class="cms">
<div class="row expanded">
    <div class="side__container">
        <div class="side__cms">
            <ul>
                <li class="nav-item-is-active">
                    <div class="cms__side__option">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </div>
                </li>
 <li>
                    <div class="cms__side__option">
                        <i class="fa fa-file"></i>
                        <span>PAGES</span>
                    </div>
                </li>
                 <li>
                    <div class="cms__side__option">
                        <i class="fa fa-newspaper-o"></i>
                        <span>partners</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="column no-gutter">
        <div class="dash__main__head">
    <div class="dash__info__bar">
        <div class="">
            <div class="columns no-gutter">
                <ul>
                     <li class="fr"><i class="fa fa-sign-out"></i>Sign out</li>
                   
                    <li class="fr"><i class="fa fa-user-circle"></i>{{user.fn +' ' +user.ln}}</li>
                    <li class="gs__brand__name">Greenshark CMS <small>alpha</small></li>
                </ul>
                </div>
            </div>
    </div>
    <header class="dash__top__bar">

        <div class="">
            <div class="row expanded">
                <div class="small-11 columns ">
                    <ul>
                        <li class="cms__brand__name">Alaska Unguided</li>
                        <li class="fr cms__add__page"start-new-trip>Add Page <i class="fa fa-plus-square"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

            <div class="small-12 columns no-gutter">
                <div class="dash__entry">
                    <div class="dash__title__wrap">
                        <h1>Dashboard</h1>
                    <h2>View  and manage your trips here</h2>
                    </div>
                    <div class="row expanded">
                        <div class="small-12 columns">
                            <div class="cms__page__list row expanded">
                            <div class="cms__pages__sub__header">
                                <div class="small-12 columns">
<h3>All trips</h3>
</div>
                                </div>

                           <div class="small-3 columns cards" ng-repeat="num in array">
                                    <div class="cms__dash__overview__card">
                                        <div class="title__card">
                                            <img src="https://unsplash.it/200">
                                        <span>Fatbiking Fairbanks <small>Fat bike in the great city of Fairbanks!</small></span>
                                        </div>

                                        <div class="cms__dash__overview__card__options">
                                             <ul>
                                                <li><i class="fa fa-eye"></i>View trip</li>
                                                  <li><i class="fa fa-edit"></i>Edit trip</li>
                                                    <li><i class="fa fa-trash-o"></i></li>
                                                 </ul>
 

                                        </div>
                                        </div>
                               </div>


                                <div class="small-3 columns cards" >
                                    <div class="cms__dash__overview__card add-new" start-new-trip>
                                        <div class="title__card">
                                            <i class="fa fa-plus-circle"></i>
                                            
                                             </div>

                                      
                                        </div>
                               </div>


                               </div>
                        </div>
                        </div>
                </div>
            </div>
    
</div>
    </div>

</div>