<section class="cms__main__login"route-loading-indicator>
    <div class="container">
        <div class="row expanded">
            <div class="small-12 columns">
                <div class="cms__login__dialog" >
                    <div class="cms__l__head">
                        <i ng-hide="isInvalid"class="fa fa-unlock-alt"></i>
                           <i ng-show="isInvalid" class="fa fa-times login-invalid-icon"></i>
                        <h1 ng-bind="loginMessage">Hello</h1>
                        <h2 ng-bind="loginSubMessage"></h2>
                    </div>
                    <div class="cms__l__body">
                        <form ng-submit="login()">
                            <fieldset>
                                <input ng-disabled="busy"type="text" placeholder="Username"class="cms__input" ng-model="uname">
                                 <input ng-disabled="busy" type="password" placeholder="Password" class="cms__input" ng-model="pword">
                            </fieldset>
                            <button class="cms__signin" ng-class="{ 'login__busy': busy}" ng-bind="btnText"></button>
                        </form>
                    </div>  
                    <div class="cms_l_foot">
                        <!-- <a href="" class="cms__forgot__pw">Forgot password?</a> -->
                    </div>
                    
                </div>
                
               
            </div>
        </div>
       <div class="cms__details">
                    <p>Copyright &copy; Greenshark 2017</p>
                </div>
    </div>
</section>