<section class="cms__main__login">
    <div class="container">
        <div class="row expanded">
            <div class="small-12 columns">
                <div class="cms__login__dialog">
                    <div class="cms__l__head">
                        <i class="fa fa-unlock-alt"></i>
                        <h1>Hello</h1>
                        <h2>Please sign in to continue</h2>
                    </div>
                    <div class="cms__l__body">
                        <form>
                            <fieldset>
                                <input type="text" placeholder="Username"class="cms__input">
                                 <input type="password" placeholder="Password" class="cms__input">
                            </fieldset>
                            <button class="cms__signin" ng-disabled="form.$invalid">Sign in</button>
                        </form>
                    </div>  
                    <div class="cms_l_foot">
                        <!-- <a href="" class="cms__forgot__pw">Forgot password?</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>