<section class="au__trip" style="background-image:url({{thisTrip.thumbnail}}); background-size:cover;">
    <au-header></au-header>
    <div class="overlay"></div>
    <section class="au__trip__inner">

        <div class="container">
            <div class="row expanded">
                <div class="small-12 columns">
                    <div class="au__trip__hero">
                        <div class="au__trip__loc">
                            <i class="fa fa-map-marker"></i>
                            <p ng-bind="thisTrip.destination[0].name"></p>

                        </div>

                        <div class="rating__dots">
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot"></div>
                        </div>
                        <h1 ng-bind="thisTrip.name"></h1>
                        <h2 ng-bind="thisTrip.description"></h2>
                        <a href='#/search' class="trip__learn__more blue"><i class="fa fa-arrow-left"></i><span>Back to search</span></a>
                    </div>

                </div>
            </div>
        </div>



    </section>
    <!-- tab section -->
    <div class="au__trip__detail">
        <div class="container">
            <div class="row expanded">
                <div class="small-12 columns">
                    <ul class="breadcrumbs">
                        <li><a href="#">Activities</a></li>
                        <li><a href="#">{{thisTrip.name}}</a></li>

                    </ul>
                </div>
            </div>
            <div class="au__trip__detail__tabs">
                <ul class="tabs" data-tabs id="tripTabs">
                    <li ng-click="setTab('overview')" class="tabs-title" ng-class="activeTab === 'overview' ? 'is-active' : ''"><a aria-selected="true"><i class="fa fa-map"></i><span>Overview</span></a></li>
                 <!--   <li ng-click="setTab('itin')" class="tabs-title" ng-class="activeTab === 'itin' ? 'is-active' : ''"><a><i class="fa fa-list"></i><span>Itinerary</span></a></li> -->
                    <li ng-click="setTab('photos')" class="tabs-title" ng-class="activeTab === 'photos' ? 'is-active' : ''"><a><i class="fa fa-picture-o"></i><span>Photos</span></a></li>
                    <li ng-click="setTab('recommend')" class="tabs-title" ng-class="activeTab === 'recommend' ? 'is-active' : ''"><a><i class="fa fa-star"></i><span>Recommendations</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- trip detail panel -->
    <div class="au__trip__detail__panel" ng-cloak >
        <div class="container">
            <div class="row expanded">

                <div class="au__tab__container">
                    <div class="au__tab" ng-show="getTab('overview')">
                        <div class="row expanded">
                            <div class="small-12 medium-7 columns">
                                <h2>Trip Overview</h2>
 <hr>
                                <div class="au__trip__pane">
                                    <div class="row expanded">
                                        <div class="small-12 medium-3 columns">
                                            <img src="{{thisTrip.thumbnail}}" />
                                            </div>
                                            <div class="small-6 medium-3 columns">
                                               
                                                <div class="au__trip__activities" >
                                                     <h3>Activities</h3>
                                                    <div class="au__activity"ng-repeat="activity in thisTrip.activities">
                                                        <i class="fa fa-check"></i>
                                                         <a  href="#" ng-bind="activity.name"> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 medium-3 columns">
                                               
                                                <div class="au__trip__activities" >
                                                     <h3>Transport</h3>
                                                    <div class="au__activity"ng-repeat="trans in thisTrip.transports">
                                                        <i class="fa fa-check"></i>
                                                        <a  href="#" ng-bind="trans.name"> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                                        <div class="au__trip__pane grey">
                                    <div class="row expanded">
                                       
                                            <div class="small-12 columns">
                                               

                                               <h3>Description</h3>
                                                <p ng-bind="thisTrip.summary"></p>
                                                <a class="btn yellow">View photos</a>
                                               
                                                </div>
                                        </div>
                                    </div>
                                            <div class="au__trip__pane grey">
                                    <div class="row expanded">
                                       
                                            <div class="small-12 columns">
                                                <h3>Activites</h3>
                                               <div class="row expanded">
                                                    <div class="small-12 medium-6 large-4 columns"ng-repeat="activity in thisTrip.activities">
                                                          <div class="au__activity__description" >
                                                       
                                                      
                                                        <div class="au__sub__activity">
                                                                <h4>{{activity.sub_activities.name}}</h4>
                                                                 <span>{{activity.name}}</span>
                                                                  <p ng-bind="activity.sub_activities.description"></p>
                                                                
                                                                <div class="row expanded au__dates">
                                                                    <div class="small-6 medium-12 large-6 columns ">
                                                                        
                                                                        <i class="fa fa-calendar"></i>
                                                                        <p ng-bind="helpers.uxtsToDate(activity.sub_activities.best_time_start)"></p>
                                                                        </div>
                                                                        <div class="small-6 medium-12 large-6 columns">
                                                                        <i class="fa fa-calendar"></i>
                                                                        <p ng-bind="helpers.uxtsToDate(activity.sub_activities.best_time_end)"></p>
                                                                        </div>
                                                                        <div class="small-12 columns">
                                                                            <div class="au__to__arrow"><i class="fa fa-long-arrow-right"></i></div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    
                                                   </div>
                                                  
                                                </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="small-12 medium-4 columns">
                                <div class="au__tab__side__panel">
                                      <div class="au__panel__wrap points">
                                        <h5>Key information <span><i class="fa fa-info-circle"></i></span></h5>
                                        <ul>
                                        <li><p class="au__3__block__info"><span ng-bind="helpers.formatCost(thisTrip.cost)"></span>Cost</p></h1>
                                         <li><p class="au__3__block__info"><span ng-bind="thisTrip.days"></span>Day(s)</p></h1>
                                         </ul>
                             </div>
                                    <div class="au__panel__wrap">
                                        <h5>Location<span><i class="fa fa-info-circle"></i></span></h5>
                                        <div class="row expanded">
                                        <!--    <div class="small-12 medium-4 columns">
                                                <div class="au__tab__trip__detail__point">
                                                    <h2 ng-bind="thisTrip.days"></h2>
                                                    <h4>Duration</h4>
                                                </div>
                                            </div>
                                        -->
                                        <div class="small-12 columns">
                                           <p ng-bind="thisTrip.destination[0].subdestinations[0].name"></p>
                                           <p ng-bind="thisTrip.destination[0].location"></p>
                                            <div id="map" class="au__location__map" style="width:100%; height:400px; display:block">
                                                
                                                </div>
                                                <div class="au__download__maps">
                                                    <a ng-click="hasDled = true"href="{{thisTrip.destination[0].map}}" class="btn yellow btn-fw"><span ng-hide="hasDled">Download Offline Map</span><i class="fa fa-check" ng-show="hasDled"></i></a>
                                                    </div>
                                        </div>


                                        </div>
                                    </div>
                                                   <div class="au__trip__pane grey">
                                    <div class="row expanded">
                                       
                                            <div ng-hide="hasSubmitted" class="small-12 columns newsletter">
                                               

                                                <h3>Newsletter</h3>
                                                <p >Want to have all the latest news and information about Alaska? Keep in touch with us and be updated when new and exciting things are on! Join our newsletter</p>
                                                <input type="email" ng-model="auemail" placeholder="Type your email address here" />
                                                <a class="btn btn-fw yellow" ng-click="submitEmail()">Subscribe</a>
                                               
                                                </div>
                                                  <div class="small-12 columns newsletter__success" ng-show="hasSubmitted">
                                               
                                                 <i class="fa fa-check-circle-o"> </i>                                      
                                                <h3>Great!</h3>
                                                <p >We've signed you up to our newsletter, check your inbox often for great content about Alaska!</p>
                           
                                               
                                                </div>
                                        </div>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="au__tab" ng-show="getTab('itin')">
                        this is text for the Itinerary tab.
                    </div>
                    <div class="au__tab" ng-show="getTab('photos')">
                        <div class="au__trip__media">
                            <div class="row expanded">
                                <div class="small-6 medium-2 columns"ng-repeat="media in thisTrip.media">
                                     <a  data-fancybox="gallery-photos" data-caption="{{media.name}}"href="{{isVideo(media)}}"><img src="{{media.image}}"></a>
                                </div>
                            </div>
                        </div>
                      
                       
                    </div>
                    <div class="au__tab" ng-show="getTab('recommend')" >
                      
                           <div class="au__partners" ng-repeat="partner in partners[0]">
                               
                                <div class="row expanded">
                               <div class="small-12 medium-6 columns">
                              <h2 ng-bind="partner.name"></h2>
                              <p ng-bind="partner.description"></p>
                              <a href="{{partner.url}}" class="btn yellow">Go to website</a>
                           </div>
                              
                                 <div class="small-12 medium-6 columns partner-img">
                              <a data-fancybox="gallery" data-caption="{{partner.name}}" href="{{partner.image}}" ng-show="partner.type == 'image'"><img src="{{partner.image}}"></a>
                              <iframe ng-show="partner.type == 'video'"frameborder="0"
ng-src="{{trustSrc(partner.image)}}">
</iframe>
                           </div>
                           </div>
                         
                       </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
 

