<section class="au__trip" style="background-image:url({{thisTrip.thumbnail}}); background-size:cover;">
    <au-header></au-header>
    <div class="overlay"></div>
    <section class="au__trip__inner">

        <div class="container">
            <div class="row expanded">
                <div class="small-12 columns">
                    <div class="au__trip__hero">
                        <div class="au__trip__loc">
                            <i class="fa fa-map-marker"></i>
                            <p ng-bind="thisTrip.destination[0].name"></p>

                        </div>

                        <div class="rating__dots">
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot yellow"></div>
                            <div class="rating__dot"></div>
                        </div>
                        <h1 ng-bind="thisTrip.name"></h1>
                        <h2 ng-bind="thisTrip.description"></h2>
                        <a href='#/search' class="trip__learn__more blue"><i class="fa fa-arrow-left"></i><span>Back to search</span></a>
                    </div>

                </div>
            </div>
        </div>



    </section>
    <!-- tab section -->
    <div class="au__trip__detail">
        <div class="container">
            <div class="row expanded">
                <div class="small-12 columns">
                    <ul class="breadcrumbs">
                        <li><a href="#">Activities</a></li>
                        <li><a href="#">{{thisTrip.name}}</a></li>

                    </ul>
                </div>
            </div>
            <div class="au__trip__detail__tabs">
                <ul class="tabs" data-tabs id="tripTabs">
                    <li ng-click="setTab('overview')" class="tabs-title" ng-class="activeTab === 'overview' ? 'is-active' : ''"><a aria-selected="true"><i class="fa fa-map"></i><span>Overview</span></a></li>
                 <!--   <li ng-click="setTab('itin')" class="tabs-title" ng-class="activeTab === 'itin' ? 'is-active' : ''"><a><i class="fa fa-list"></i><span>Itinerary</span></a></li> -->
                    <li ng-click="setTab('photos')" class="tabs-title" ng-class="activeTab === 'photos' ? 'is-active' : ''"><a><i class="fa fa-picture-o"></i><span>Photos</span></a></li>
                    <li ng-click="setTab('recommend')" class="tabs-title" ng-class="activeTab === 'recommend' ? 'is-active' : ''"><a><i class="fa fa-star"></i><span>Recommendations</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- trip detail panel -->
    <div class="au__trip__detail__panel" ng-cloak >
        <div class="container">
            <div class="row expanded">

                <div class="au__tab__container">
                    <div class="au__tab" ng-show="getTab('overview')">
                        <div class="row expanded">
                            <div class="small-12 medium-7 columns">
                                <h2>Trip Overview</h2>
 <hr>
                                <div class="au__trip__pane">
                                    <div class="row expanded">
                                        <div class="small-12 medium-3 columns">
                                            <img src="{{thisTrip.thumbnail}}" />
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                               
                                                <div class="au__trip__activities" >
                                                     <h3>Activities</h3>
                                                    <div class="au__activity"ng-repeat="activity in thisTrip.activities">
                                                        <i class="fa fa-check"></i>
                                                         <a  href="#" ng-bind="activity.name"> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-12 medium-3 columns">
                                               
                                                <div class="au__trip__activities" >
                                                     <h3>Transport</h3>
                                                    <div class="au__activity"ng-repeat="trans in thisTrip.transports">
                                                        <i class="fa fa-check"></i>
                                                        <a  href="#" ng-bind="trans.name"> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                                        <div class="au__trip__pane grey">
                                    <div class="row expanded">
                                       
                                            <div class="small-12 columns">
                                               

                                               <h3>Description</h3>
                                                <p ng-bind="thisTrip.summary"></p>
                                                <a class="btn yellow">View photos</a>
                                               
                                                </div>
                                        </div>
                                    </div>
                                            <div class="au__trip__pane grey">
                                    <div class="row expanded">
                                       
                                            <div class="small-12 columns">
                                                <h3>Activites</h3>
                                               <div class="row expanded">
                                                    <div class="small-12 medium-4 columns">
                                                          <div class="au__activity__description" ng-repeat="activity in thisTrip.activities">
                                                        <h4 ng-bind="activity.name"></h4>
                                                        <p>Lorem Lorem Lorem Ipsum fake text here descriptions for the activity type on this trip. </p>
                                                        <div class="au__sub__activity" ng-repeat="sub in activity.sub_activities">
                                                                <h6 ng-bind="sub.name"></h6>
                                                                <p><strong>Best time: </strong> {{helpers.uxtsToDate(sub.best_time_start)}}</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="small-12 medium-4 columns">
                                                          <div class="au__activity__description" ng-repeat="activity in thisTrip.activities">
                                                        <h4 ng-bind="activity.name"></h4>
                                                        <p>Lorem Lorem Lorem Ipsum fake text here descriptions for the activity type on this trip. </p>
                                                        <div class="au__sub__activity" ng-repeat="sub in activity.sub_activities">
                                                                <h6 ng-bind="sub.name"></h6>
                                                                <p><strong>Best time: </strong> {{helpers.uxtsToDate(sub.best_time_start)}}</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="small-12 medium-4 columns">
                                                          <div class="au__activity__description" ng-repeat="activity in thisTrip.activities">
                                                        <h4 ng-bind="activity.name"></h4>
                                                        <p>Lorem Lorem Lorem Ipsum fake text here descriptions for the activity type on this trip. </p>
                                                        <div class="au__sub__activity" ng-repeat="sub in activity.sub_activities">
                                                                <h6 ng-bind="sub.name"></h6>
                                                                <p><strong>Best time: </strong> {{helpers.uxtsToDate(sub.best_time_start)}}</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                   </div>
                                                  
                                                </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="small-12 medium-4 columns">
                                <div class="au__tab__side__panel">
                                      <div class="au__panel__wrap points">
                                        <h5>Key information <span ng-click="dropdown()" ng-class="season === 'true' ? 'dropdown__active' : ''"><i class="fa fa-chevron-down"></i></span></h5>
                                        <ul>
                                        <li><p class="au__3__block__info"><span ng-bind="helpers.formatCost(thisTrip.cost)"></span>Cost</p></h1>
                                         <li><p class="au__3__block__info"><span ng-bind="thisTrip.days"></span>Day(s)</p></h1>
                                         </ul>
                             </div>
                                    <div class="au__panel__wrap">
                                        <h5>Location<span ng-click="dropdown()" ng-class="season === 'true' ? 'dropdown__active' : ''"><i class="fa fa-chevron-down"></i></span></h5>
                                        <div class="row expanded">
                                        <!--    <div class="small-12 medium-4 columns">
                                                <div class="au__tab__trip__detail__point">
                                                    <h2 ng-bind="thisTrip.days"></h2>
                                                    <h4>Duration</h4>
                                                </div>
                                            </div>
                                        -->
                                        <div class="small-12 columns">
                                           <p ng-bind="thisTrip.destination[0].subdestinations[0].name"></p>
                                           <p ng-bind="thisTrip.destination[0].location"></p>
                                            <div id="map" class="au__location__map" style="width:100%; height:400px; display:block">
                                                
                                                </div>
                                                
                                        </div>


                                        </div>
                                    </div>
                                                   <div class="au__trip__pane grey">
                                    <div class="row expanded">
                                       
                                            <div class="small-12 columns">
                                               

                                                <h3>Newsletter</h3>
                                                <p >Want to have all the latest news and information about Alaska? Keep in touch with us and be updated when new and exciting things are on! Join our newsletter</p>
                                                <input type="email" placeholder="Type your email address here" />
                                                <a class="btn btn-fw yellow">Subscribe</a>
                                               
                                                </div>
                                        </div>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="au__tab" ng-show="getTab('itin')">
                        this is text for the Itinerary tab.
                    </div>
                    <div class="au__tab" ng-show="getTab('photos')">
                        this is text for the photos tab.
                    </div>
                    <div class="au__tab" ng-show="getTab('recommend')">
                        this is text for the recommended tab.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUjrWsT7oTLr5WoXt5FHbvvPA2O2Xc_zA&callback=initMap">
    </script>