<section class="au__contact">
    <au-header id="au__s"></au-header>
    <div class="container">

        <div class="row expanded">
            <div class="small-12 medium-10 large-6 medium-offset-1 large-offset-3 columns">
                <div class="au__contact__form ">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="au__form__head">

                                <span class="ico__top"><i class="fa fa-question-circle"></i></span>
                                <h1>Have a question?</h1>
                                <h2>Enter your details and we'll be in touch!</h2>

                            </div>
                            <form class="au__c__form row">

                                <div class="small-12 medium-6 columns">
                                    <label for="input">Your name</label>
                                    <input type="text">
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <label for="input">Your email</label>
                                    <input type="email">
                                </div>

                               
                                    <div class="small-12 columns">
                                        <label for="textarea">Your message</label>
                                        <textarea></textarea>
                                    </div>
                                    
                                    <div class="small-12 columns">
                                        <button>Submit</button>
                                            <p>We aim to respond to all queries within 48 hours</p>
                                        </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>