<section class="hero__au">
    <au-header></au-header>
    <div class="hero__content__au__wrap container clearfix">
        <div class="hero__content__au row expanded">
            <div class="small-12 large-6 columns cta__land">
                <div class="au__social__icons">
                            <ul>
                                <li><a><img src="img/instagram.png"></a></li>
                                <li><a><img src="img/facebook.png"></a></li>
                                <li><a><img src="img/youtube.png"></a></li>
                                </ul>
                            </div>
                <h1>Discovering Alaska<small>The Final Frontier</small>
                </h1>

                <div class="cta__btn__group">
                    <a href="#/search" class="btn__au yellow">View Trips</a>
                    <a href="#" class="btn__au yellow outline">Our Recommendations</a>

                </div>
                <div class="fact__box__au"ng-controller="factController">
                    <div class="loader" ng-hide="factLoaded"> </div>
                    <span class="fact__au" >
                          
                           <div class="fact__content" ng-show="factLoaded">
                               <strong>Did you know?</strong><br>
                           <span ng-bind="randomFact"></span>
                           </div>
                           
                        </div>
                        
                    </div>
                    <div class="small-12 large-6 columns">
                        
                        <div class="landing__featured__trips__au">
                            <ul>
                                <li ng-repeat="trip in allCards" >
                                    <div class="featured__slide"style="background:url({{featuredFirstCard.thumbnail}}) center center; background-size:cover;  ">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p ng-bind="trip.name"></p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>Price scale: </small>{{helpers.formatCost(trip.cost)}}</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Trip duration:  {{trip.days}} {{dayPlural(trip.days)}}</small>
                                                        
                                                       </p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#/activity/{{trip._id}}" class="btn__au yellow">View trip</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                               <li></li><li></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="small-12 large-6 columns newsletter__au" hg-hide="hasSubmitted">
                      <h2>Discover Alaska in the most amazing ways</h2>
                      <h3>Subscribe to our newsletter for all the latest</h3>
                    </div>
                    <div class="small-12 large-6 columns newsletter__au">
                        <div class="sign__up__au" ng-hide="hasSubmitted">
                            
                    <input type="email" placeholder="Your email address" ng-model="email" name="input"/>
                    <a ng-click="submitEmail()">Stay informed</a>
                </div>
                <div class="sign__up__message fade">
                <div class="sign__up__au__success " ng-show="showSuccessSubmit">
                    <i class="fa fa-check-circle-o"></i>
                        <h2> Great! You're signed up, thanks!</h2>
                    </div>
                    </div>
            </div>
        </div>

    </div>
    <!-- end header and hero content things here -->
</section>
 <section class="bf__au__hm">
    <div class="bf__trips__grid container">
        <h1>Featured Activities</h1>
        <div class="row expanded">
            <div class="small-12 large-6 columns">
                <div class="bf__grid__item gi__ft">
                    <div class="featured__slide"style="background:url({{featuredFirstCard.thumbnail}}) center center; background-size:cover;  ">
                        <div class="slide__content row clearfix">
                            <div class="small-12 medium-6 columns">
                                <p ng-bind="featuredFirstCard.name"></p>
                                <div class="rating__dots">
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot"></div>
                                    <div class="rating__dot"></div>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns slide__price">
                                <h2>
                                    <small>Price range: </small>{{helpers.formatCost(featuredFirstCard.cost)}}</h2>
                            </div>
                        </div>
                        <div class="slide__content row clearfix slide__bottom">
                            <div class="small-12 medium-6 columns">
                                <div class="trip__length">
                                    <p>
                                        <small>Trip duration:  {{featuredFirstCard.days}} {{dayPlural(featuredFirstCard.days)}}</small>
                                                  </small>
                                            </p>
                                            </div>

                            </div>
                            <div class="small-12 medium-6 columns cta__btn__group">
                                <a href="#/activity/{{featuredFirstCard._id}}" class="btn__au yellow">View trip</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-6 columns">
                <div class="row">

                    <div class="small-12 large-6 columns" ng-repeat="homeTrip in cardObjects | limitTo: 4">
                        <div class="bf__grid__item gi__hlf">
                            <div class="featured__slide" style="background:url({{homeTrip.thumbnail}}) center center; background-size:cover;  ">
                                <div class="slide__content row clearfix">
                                    <div class="small-12 columns">
                                        <p ng-bind="homeTrip.name"></p>
                                      
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                   
               
           
                </div>
            </div>
        </div>
    </div>

</section>
<script src="app/plugins.js"></script>