<section class="hero__au">
           <au-header></au-header>
            <div class="hero__content__au__wrap container clearfix">
                <div class="hero__content__au row expanded">
                    <div class="small-12 large-6 columns cta__land">
                        <h1>Discovering Alaska<small>The Final Frontier</small>
                        </h1>
                       
                        <div class="cta__btn__group">
                            <a href="#" class="btn__au yellow">THINGS TO DO</a>
                            <a href="#" class="btn__au yellow outline">RECOMMENDED TOURS</a>

                        </div>
                        <div class="fact__box__au">
                          <span class="fact__au">
                            <strong>Did you know?</strong> <div class="fact"><fact>Loading fact..</fact></div>
                        </div>
                    </div>
                    <div class="small-12 large-6 columns">
                        <div class="landing__featured__trips__au">
                            <ul>
                                <li>
                                    <div class="featured__slide">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p>See Alaska by floatplane</p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>From</small>$234</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Actvity length</small>
                                                        <br>
                                                        2 days</p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#" class="btn__au yellow">BOOK</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="featured__slide">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p>Das et mane</p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>From</small>$1,234</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Actvity length</small>
                                                        <br>
                                                        4 days</p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#" class="btn__au yellow">BOOK</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="featured__slide">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p>See Alaska by floatplane</p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>From</small>$234</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Actvity length</small>
                                                        <br>
                                                        2 days</p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#" class="btn__au yellow">BOOK</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 large-6 columns newsletter__au">
                      <h2>Discover Alaska in the most amazing ways</h2>
                      <h3>Subscribe to our newsletter for all the latest</h3>
                    </div>
                    <div class="small-12 large-6 columns newsletter__au">
                      <input type="email">
                    </div>
                </div>

            </div>
            <!-- end header and hero content things here -->
        </section>
                <section class="bf__au__hm">
            <div class="bf__trips__grid container">
              <h1>Featured Activities</h1>
              <div class="row expanded">
                <div class="small-12 large-6 columns">
                  <div class="bf__grid__item gi__ft">
                    <div class="featured__slide">
                        <div class="slide__content row clearfix">
                            <div class="small-6 columns">
                                <p>See Alaska by floatplane</p>
                                <div class="rating__dots">
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot"></div>
                                    <div class="rating__dot"></div>
                                </div>
                            </div>
                            <div class="small-6 columns slide__price">
                                <h2>
                                    <small>From</small>$234</h2>
                            </div>
                        </div>
                        <div class="slide__content row clearfix slide__bottom">
                            <div class="small-6 columns">
                                <div class="trip__length">
                                    <p>
                                        <small>Actvity length</small>
                                        <br>
                                        2 days</p>
                                </div>

                            </div>
                            <div class="small-6 columns cta__btn__group">
                                <a href="#" class="btn__au yellow">BOOK</a>

                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns">
                  <div class="row">

                    <div class="small-12 large-6 columns">
                      <div class="bf__grid__item gi__hlf">
                        <div class="featured__slide">
                            <div class="slide__content row clearfix">
                                <div class="small-6 columns">
                                    <p>See Alaska by floatplane</p>
                                    <div class="rating__dots">
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot"></div>
                                        <div class="rating__dot"></div>
                                    </div>
                                </div>
                                <div class="small-6 columns slide__price">
                                    <h2>
                                        <small>From</small>$234</h2>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                    <div class="small-12 large-6 columns">
                      <div class="bf__grid__item gi__hlf">
                        <div class="featured__slide">
                            <div class="slide__content row clearfix">
                                <div class="small-6 columns">
                                    <p>See Alaska by floatplane</p>
                                    <div class="rating__dots">
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot"></div>
                                        <div class="rating__dot"></div>
                                    </div>
                                </div>
                                <div class="small-6 columns slide__price">
                                    <h2>
                                        <small>From</small>$234</h2>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 large-6 columns">
                      <div class="bf__grid__item gi__hlf">
                        <div class="featured__slide">
                            <div class="slide__content row clearfix">
                                <div class="small-6 columns">
                                    <p>See Alaska by floatplane</p>
                                    <div class="rating__dots">
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot"></div>
                                        <div class="rating__dot"></div>
                                    </div>
                                </div>
                                <div class="small-6 columns slide__price">
                                    <h2>
                                        <small>From</small>$234</h2>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                    <div class="small-12 large-6 columns">
                      <div class="bf__grid__item gi__hlf">
                        <div class="featured__slide">
                            <div class="slide__content row clearfix">
                                <div class="small-6 columns">
                                    <p>See Alaska by floatplane</p>
                                    <div class="rating__dots">
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot yellow"></div>
                                        <div class="rating__dot"></div>
                                        <div class="rating__dot"></div>
                                    </div>
                                </div>
                                <div class="small-6 columns slide__price">
                                    <h2>
                                        <small>From</small>$234</h2>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </section>