<section class="hero__au">
    <au-header></au-header>
    <div class="hero__content__au__wrap container clearfix">
        <div class="hero__content__au row expanded">
            <div class="small-12 large-6 columns cta__land">
                <h1>Discovering Alaska<small>The Final Frontier</small>
                </h1>

                <div class="cta__btn__group">
                    <a href="#/search" class="btn__au yellow">View Trips</a>
                    <a href="#" class="btn__au yellow outline">Our Recommendations</a>

                </div>
                <div class="fact__box__au"ng-controller="factController">
                    <div class="loader" ng-hide="factLoaded"> </div>
                    <span class="fact__au" >
                          
                           <div class="fact__content" ng-show="factLoaded">
                               <strong>Did you know?</strong><br>
                           <span ng-bind="randomFact"></span>
                           </div>
                           
                        </div>
                        
                    </div>
                    <div class="small-12 large-6 columns">
                        <div class="landing__featured__trips__au">
                            <ul>
                                <li>
                                    <div class="featured__slide">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p>See Alaska by floatplane</p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>From</small>$234</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Actvity length</small>
                                                        <br>
                                                        2 days</p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#" class="btn__au yellow">BOOK</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="featured__slide">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p>Alaskan Northern Lights</p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>From</small>$1,234</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Actvity length</small>
                                                        <br>
                                                        4 days</p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#" class="btn__au yellow">BOOK</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="featured__slide">
                                        <div class="slide__content row clearfix">
                                            <div class="small-6 columns">
                                                <p>See Alaska by floatplane</p>
                                                <div class="rating__dots">
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot yellow"></div>
                                                    <div class="rating__dot"></div>
                                                    <div class="rating__dot"></div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns slide__price">
                                                <h2>
                                                    <small>From</small>$234</h2>
                                            </div>
                                        </div>
                                        <div class="slide__content row clearfix slide__bottom">
                                            <div class="small-6 columns">
                                                <div class="trip__length">
                                                    <p>
                                                        <small>Actvity length</small>
                                                        <br>
                                                        2 days</p>
                                                </div>

                                            </div>
                                            <div class="small-6 columns cta__btn__group">
                                                <a href="#" class="btn__au yellow">BOOK</a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="small-12 large-6 columns newsletter__au" hg-hide="hasSubmitted">
                      <h2>Discover Alaska in the most amazing ways</h2>
                      <h3>Subscribe to our newsletter for all the latest</h3>
                    </div>
                    <div class="small-12 large-6 columns newsletter__au">
                        <div class="sign__up__au" ng-hide="hasSubmitted">
                            
                    <input type="email" placeholder="Your email address" ng-model="email" name="input"/>
                    <a ng-click="submitEmail()">Stay informed</a>
                </div>
                <div class="sign__up__au__success" ng-show="hasSubmitted">
                    <i class="fa fa-check-circle-o"></i>
                        <h2> Great! You're signed up, thanks!</h2>
                    </div>
            </div>
        </div>

    </div>
    <!-- end header and hero content things here -->
</section>
 <section class="bf__au__hm">
    <div class="bf__trips__grid container">
        <h1>Featured Activities</h1>
        <div class="row expanded">
            <div class="small-12 large-6 columns">
                <div class="bf__grid__item gi__ft">
                    <div class="featured__slide">
                        <div class="slide__content row clearfix">
                            <div class="small-12 medium-6 columns">
                                <p>See Alaska by floatplane</p>
                                <div class="rating__dots">
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot"></div>
                                    <div class="rating__dot"></div>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns slide__price">
                                <h2>
                                    <small>From</small>$234</h2>
                            </div>
                        </div>
                        <div class="slide__content row clearfix slide__bottom">
                            <div class="small-12 medium-6 columns">
                                <div class="trip__length">
                                    <p>
                                        <small>Actvity length</small>
                                        <br> 2 days</p>
                                </div>

                            </div>
                            <div class="small-12 medium-6 columns cta__btn__group">
                                <a href="#" class="btn__au yellow">BOOK</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-6 columns">
                <div class="row">

                    <div class="small-12 large-6 columns">
                        <div class="bf__grid__item gi__hlf">
                            <div class="featured__slide">
                                <div class="slide__content row clearfix">
                                    <div class="small-12 medium-6 columns">
                                        <p>See Alaska by floatplane</p>
                                        <div class="rating__dots">
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot"></div>
                                            <div class="rating__dot"></div>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-6 columns slide__price">
                                        <h2>
                                            <small>From</small>$234</h2>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="small-12 large-6 columns">
                        <div class="bf__grid__item gi__hlf">
                            <div class="featured__slide">
                                <div class="slide__content row clearfix">
                                    <div class="small-12 medium-6 columns">
                                        <p>See Alaska by floatplane</p>
                                        <div class="rating__dots">
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot"></div>
                                            <div class="rating__dot"></div>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-6 columns slide__price">
                                        <h2>
                                            <small>From</small>$234</h2>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 large-6 columns">
                        <div class="bf__grid__item gi__hlf">
                            <div class="featured__slide">
                                <div class="slide__content row clearfix">
                                    <div class="small-12 medium-6 columns">
                                        <p>See Alaska by floatplane</p>
                                        <div class="rating__dots">
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot"></div>
                                            <div class="rating__dot"></div>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-6 columns slide__price">
                                        <h2>
                                            <small>From</small>$234</h2>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="small-12 large-6 columns">
                        <div class="bf__grid__item gi__hlf">
                            <div class="featured__slide">
                                <div class="slide__content row clearfix">
                                    <div class="small-12 medium-6 columns">
                                        <p>See Alaska by floatplane</p>
                                        <div class="rating__dots">
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot yellow"></div>
                                            <div class="rating__dot"></div>
                                            <div class="rating__dot"></div>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-6 columns slide__price">
                                        <h2>
                                            <small>From</small>$234</h2>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="app/plugins.js"></script>