<section class="au__search">
    <au-header id="au__s"></au-header>
    <div class="container">
        <div class="long__inputs">
            <div class="row expanded">

                <div class="large-12 columns">
                    <h1>Trip Search <div class='loader' ng-if="isSearching == true"> </div></h1>
                    <ul>

                        <li class="i__c inputs">
                            <i class="fa fa-search fa-fw"></i>
                            <input ng-model="inputCollection['searchParam'].param" enter-listen="tripSearch()"type="text" class="i__s text__i" name="searchinput" placeholder="Search by keyword...">
                        </li>
                        <li class="inputs sel__i">
                            <i class="fa fa-chevron-down fa-fw"></i>
                            <select ng-model="inputCollection['tripTypeParam'].param" name="triptype" class="i__m">
					 <option value="" disabled selected hidden>Trip type</option>
					 <option value="All">All types</option>
					
                    <option value="{{s}}"ng-repeat="s in activityTypes">{{s}}</option>
					
				</select>
                        </li>
                        <li class="inputs sel__i">
                            <i class="fa fa-chevron-down fa-fw"></i>
                            <select ng-model="inputCollection['tripCostParam'].param" name="tripcost" class="i__m">
					 <option value="" disabled selected hidden>Trip cost</option>
					<option value="1">$</option>
					<option value="2">$$</option>
						<option value="3">$$$</option>
				</select>
                        </li>
                        <li class="inputs i__dr">
                            <i class="fa fa-calendar fa-fw"></i>
                            <input ng-model="inputCollection['startDate'].param" data-date-format="mm/dd/yy" id="dr1" type="text" class="i__m text__i"
                                name="searchinput" placeholder="Start date...">
                        </li>
                        <li class="inputs i__dr">
                            <i class="fa fa-calendar fa-fw"></i>
                            <input ng-model="inputCollection['endDate'].param" data-date-format="mm/dd/yy" id="dr2" type="text" class="i__m text__i"
                                name="searchinput" placeholder="End date...">
                        </li>
                        <li class="inputs btn__search">
                            <button ng-click="isSearching || tripSearch()" ng-disabled="isSearching" ng-class="{au__searching: isSearching}" class="i__e btn__i i__e">Search</button>
                        </li>

                    </ul>

                </div>
            </div>

        </div>

        <div class="row expanded">

            <div class="small-12 large-3 medium-6 columns bounce-in-card" id="card" ng-repeat="trip in cardObjects | limitTo: lim">
                <div class="au__search__results__container">
                    <div class="au__search__result__card">

                        <div class="card__img">
                            <div class="on__img">
                                <h2 class="trip__price" ng-bind="helpers.formatCost(trip.cost)"></h2>
                                <a class="reco__tour"ng-show="trip.recommended">Recommended Trip </a>

                            </div>
                            <img ng-src="{{trip.thumbnail}}" />
                            <h1 ng-bind="trip.name"></h1>
                            <div class="trip__info__group">
                                <ul>
                                    <li><i class="fa fa-map-marker"></i>{{trip.destination[0].name}}</li>
                                    <li><i class="fa fa-sun-o"></i></li>

                                </ul>
                            </div>
                        </div>
                        <div class="card__content">
                            <div class="small-12 large-12 columns">


                                <p ng-bind="trip.description"></p>
                                <ul class="trip__types">
                                    <p>Activities included</p>
                                    <li class="type" ng-repeat="transport in trip.transports"><i class="fa fa-check-circle"></i>{{transport.name}} </li>

                                </ul>

                            </div>
                            <div class="card__lower__section small-12 columns">

                                <div class="view__trip">
                                    <a class="view__trip__btn" ng-href="#/activity/{{trip._id}}">View Activity</a>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="load__more__button small-12 columns">
                <a class="button" ng-click="loadMoreTrips()" ng-hide="lim >= cardObjects.length">Load more activities <i class="fa fa-chevron-circle-down"></i></a>
            </div>
        </div>

         <section class="bf__au__hm" ng-controller="homeController">
    <div class="bf__trips__grid">
        <h1>Featured Activities</h1>
        <div class="row expanded">
            <div class="small-12 large-6 columns">
                 
                <div class="bf__grid__item gi__ft">
                    <div class="featured__slide"style="background:url({{featuredFirstCard.thumbnail}}) center center; background-size:cover;  ">
                        <div class="slide__content row clearfix">
                            <div class="small-12 medium-6 columns">
                                <p ng-bind="featuredFirstCard.name"></p>
                                <div class="rating__dots">
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot yellow"></div>
                                    <div class="rating__dot"></div>
                                    <div class="rating__dot"></div>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns slide__price">
                                <h2>
                                    <!--<small>Price range: </small> -->{{helpers.formatCost(featuredFirstCard.cost)}}</h2>
                            </div>
                        </div>
                        <div class="slide__content row clearfix slide__bottom">
                            <div class="small-12 medium-6 columns">
                                <div class="trip__length">
                                    <p>
                                        <small>Trip duration:  {{featuredFirstCard.days}} {{dayPlural(featuredFirstCard.days)}}</small>
                                                  </small>
                                            </p>
                                            </div>

                            </div>
                            <div class="small-12 medium-6 columns cta__btn__group">
                                <a href="#/activity/{{featuredFirstCard._id}}" class="btn__au yellow">View trip</a>

                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="small-12 large-6 columns">
                <div class="row">

                    <div class="small-12 large-6 columns" ng-repeat="homeTrip in cardObjects | limitTo: 4">
                       <a href="#/activity/{{homeTrip._id}}">
                        <div class="bf__grid__item gi__hlf">
                            <div class="featured__slide" style="background:url({{homeTrip.thumbnail}}) center center; background-size:cover;  ">
                                <div class="slide__content row clearfix">
                                    <div class="small-12 columns">
                                        <p ng-bind="homeTrip.name"></p>
                                      
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                        </a>
                    </div>
                   
               
           
                </div>
            </div>
        </div>
    </div>

</section>
    </div>
</section>

<script>

$('#card').matchHeight();
    $('#dr1').fdatepicker({
        format: 'M d yyyy',
        leftArrow: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        rightArrow: '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    });
    $('#dr2').fdatepicker({
        format: 'M d yyyy',
        leftArrow: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        rightArrow: '<i class="fa fa-angle-right" aria-hidden="true"></i>'

    });
    // implementation of disabled form fields
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var checkin = $('#dr1').fdatepicker({
        onRender: function (date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.update(newDate);
        }

        checkin.hide();
        $('#dr2')[0].focus();
    }).data('datepicker');
    var checkout = $('#dr2').fdatepicker({
        onRender: function (date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {

        checkout.hide();
    }).data('datepicker');
</script>
