/*Import helper class first */
/*Mixins!*/
.yellow {
  background: #ffc135 !important; }

.blue {
  background: #1b367b !important; }

.container {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto; }

body {
  background: #202020; }

h1, h2, a {
  font-family: Nunito, sans-serif !important;
  color: white; }

.outline {
  background: rgba(0, 0, 0, 0.2) !important;
  color: white !important; }

.fact__box__au {
  background: rgba(0, 0, 0, 0.5);
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 100%;
  max-width: 455px; }
  .fact__box__au span {
    font-size: 14px; }

.rating__dot {
  border-radius: 75px;
  background: #202020;
  height: 20px;
  width: 20px;
  display: inline-block; }

.featured__slide {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
  cursor: pointer;
  background: url("../img/au__sld.png") no-repeat;
  background-size: cover;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  height: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 20px; }
  .featured__slide:hover {
    transform: scale(1.02);
    transform-origin: center; }
  .featured__slide p {
    color: white;
    font-weight: 700;
    font-family: Nunito;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .featured__slide .slide__content {
    position: relative;
    bottom: 0;
    height: 70px; }
    .featured__slide .slide__content .slide__price h2 {
      font-weight: 700;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      position: absolute;
      right: 20px; }
      .featured__slide .slide__content .slide__price h2 small {
        display: block;
        font-size: 30%; }
  .featured__slide .slide__bottom {
    position: relative;
    bottom: 0;
    top: 50%; }
    .featured__slide .slide__bottom .trip__length {
      margin-top: 5px;
      text-align: center;
      display: inline-block; }
      .featured__slide .slide__bottom .trip__length p {
        margin: 10px 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
        .featured__slide .slide__bottom .trip__length p small {
          font-size: 75%;
          padding: 5px;
          background: #1b367b; }
    .featured__slide .slide__bottom .cta__btn__group {
      display: inline-block;
      margin: 1.5em 0 !important;
      position: absolute;
      right: 0; }
      .featured__slide .slide__bottom .cta__btn__group .btn__au {
        transition: all .15s ease;
        font-size: 15px;
        font-weight: 700 !important;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 15px 40px;
        border: 2px solid #ffc135;
        display: inline-block;
        margin: 5px 0;
        padding: 6px 45px;
        color: #1b367b; }
        .featured__slide .slide__bottom .cta__btn__group .btn__au:hover {
          color: white;
          background: #e5ae30 !important;
          border-color: #e5ae30;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65); }

input,
select,
.btn__search {
  font-size: 13px !important; }

.long__inputs {
  display: block;
  margin: 3vh auto !important; }

.long__inputs ul li {
  display: inline-block;
  list-style: none; }

.long__inputs ul {
  width: 100%;
  margin: 0 auto !important;
  position: relative;
  left: 6px; }

.text__i {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  box-shadow: none !important;
  height: 3.4rem !important; }

.btn__i {
  display: inline-block;
  box-shadow: none !important;
  background: #1b367b !important;
  color: #ffc135 !important;
  width: 100% !important;
  line-height: 54px !important;
  text-align: center; }
  .btn__i:hover {
    background: #112556 !important; }

.btn__search {
  width: 16.666% !important; }

.inputs select:not(.i__m) {
  box-shadow: none;
  height: 3.4rem !important; }

.inputs select {
  height: 3.4rem !important;
  border-color: rgba(0, 0, 0, 0.1);
  color: #777 !important; }

.inputs {
  margin-left: -5px; }

.inputs:last-child {
  margin-left: -5px; }

.sel__i:not(:first-child) {
  border-left-color: transparent !important; }

.inputs input:focus,
.inputs select:focus {
  box-shadow: 0 1 5px black !important; }

.i__c {
  width: 16.6666% !important; }

.i__dr {
  width: 16.6666% !important; }

.sel__i select {
  background-size: 25px 11px;
  background-image: url(../img/f1db63e534a3ee436d0ee3453e9a74e9.svg) !important; }

.sel__i select option {
  font-size: 14px; }

.sel__i {
  width: 16.6666% !important; }

.sel__i select:focus {
  color: #333 !important; }

.i__s {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.i__e {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-left-color: transparent !important; }

.i__m {
  border-right-color: rgba(0, 0, 0, 0.08) !important;
  border-left-color: transparent !important;
  border-radius: 0 !important; }

input#dr2 {
  margin-left: 0px; }

.long__inputs ul li input,
.long__inputs ul li select,
.btn__i,
.btn__search {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important; }

.inputs i {
  position: relative;
  top: 34px;
  right: 10px;
  float: right;
  color: #333 !important; }

.sel__i:hover {
  cursor: pointer !important; }

#dr1:hover,
#dr2:hover {
  cursor: pointer; }

.datepicker {
  display: none;
  position: absolute;
  padding: 4px;
  margin-top: 1px;
  direction: ltr; }

.datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  list-style: none;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #333;
  font-size: 13px;
  line-height: 18px; }

.datepicker.dropdown-menu td,
.datepicker.dropdown-menu th {
  padding: 10px 15px; }

.datepicker table {
  border: 0;
  margin: 0;
  width: auto; }

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer; }

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 12px;
  padding: 4px 8px;
  cursor: pointer; }

.datepicker td {
  background: #fff; }

.datepicker td span.active,
.datepicker td.active.day,
.datepicker td.active.year {
  background: #2993ff;
  color: white; }

.datepicker td.new,
.datepicker td.old {
  color: #999; }

.datepicker td span.month.disabled,
.datepicker td span.year.disabled,
.datepicker td.day.disabled {
  color: #eee; }

.datepicker th {
  background: #fff; }

.datepicker th span.active,
.datepicker th.active.day,
.datepicker th.active.year {
  background: #2993ff;
  border-radius: 2px; }

.datepicker th.date-switch {
  width: 145px;
  color: #333; }

.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle; }

.datepicker.days div.datepicker-days,
.datepicker.months div.datepicker-months,
.datepicker.years div.datepicker-years {
  display: block; }

.datepicker-dropdown:after,
.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  position: absolute; }

.datepicker thead tr:first-child th {
  cursor: pointer; }

.datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent; }

.datepicker tfoot tr:first-child th {
  cursor: pointer; }

.datepicker-inline {
  width: 220px; }

.datepicker-rtl {
  direction: rtl; }

.datepicker-rtl table tr td span {
  float: right; }

.datepicker-dropdown {
  top: 0;
  left: 0; }

.datepicker-dropdown:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: 1px solid rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 6px; }

.datepicker-dropdown:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  top: -6px;
  left: 7px; }

.datepicker-dropdown::after,
.datepicker-dropdown::before,
.datepicker > div {
  display: none; }

.datepicker-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 15px;
  height: 30px;
  padding: 0;
  display: none; }

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent; }

@media (max-width: 800px) {
  .i__c,
  .i__dr,
  .sel__i,
  .btn__search {
    width: 100% !important; }

  .long__inputs {
    margin: 0 auto !important; }

  .i__s,
  i__e,
  .i__m {
    border-left-color: rgba(0, 0, 0, 0.08) !important;
    border-right-color: rgba(0, 0, 0, 0.08) !important;
    border-radius: 3px !important; }

  .btn__i {
    border-radius: 3px !important; }

  .datepicker.dropdown-menu {
    width: 86% !important; }

  .datepicker table {
    width: 100% !important; } }
.bar {
  display: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(92deg, #ffe300, #ffa000, #f9ff00);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 39%; }
  50% {
    background-position: 100% 62%; }
  100% {
    background-position: 0% 39%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 39%; }
  50% {
    background-position: 100% 62%; }
  100% {
    background-position: 0% 39%; } }
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 39%; }
  50% {
    background-position: 100% 62%; }
  100% {
    background-position: 0% 39%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 39%; }
  50% {
    background-position: 100% 62%; }
  100% {
    background-position: 0% 39%; } }
ul {
  margin-left: 0 !important; }

body {
  background: #fefefe !important;
  padding: 0 !important; }

h1 {
  margin: 25px 0 !important; }

.hero__au {
  background: url("../img/au__bg.jpg");
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  .hero__au .hero__content__au__wrap {
    margin-top: 50px; }
    .hero__au .hero__content__au__wrap .hero__content__au .newsletter__au {
      margin-top: 100px; }
      .hero__au .hero__content__au__wrap .hero__content__au .newsletter__au h2 {
        font-size: 28px; }
      .hero__au .hero__content__au__wrap .hero__content__au .newsletter__au h3 {
        font-size: 18px;
        color: #707070; }
    .hero__au .hero__content__au__wrap .hero__content__au .cta__land h1 {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      font-size: 55px; }
      .hero__au .hero__content__au__wrap .hero__content__au .cta__land h1 small {
        display: block;
        font-size: 60%;
        color: white;
        margin: 0.4em 0; }
    .hero__au .hero__content__au__wrap .hero__content__au .cta__land .cta__btn__group {
      display: inline-block;
      margin: 3.5em 0 !important; }
      .hero__au .hero__content__au__wrap .hero__content__au .cta__land .cta__btn__group .btn__au {
        transition: all .15s ease;
        font-size: 15px;
        font-weight: 700 !important;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 15px 40px;
        border: 2px solid #ffc135;
        display: inline-block;
        margin: 5px 0;
        color: #1b367b; }
        .hero__au .hero__content__au__wrap .hero__content__au .cta__land .cta__btn__group .btn__au:hover {
          color: white;
          background: #e5ae30 !important;
          border-color: #e5ae30;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65); }

.unslider-nav {
  margin: 10px 0 !important; }
  .unslider-nav .unslider-active {
    background: #ffc135 !important; }
  .unslider-nav ol li {
    height: 8px !important;
    width: 8px !important;
    border-color: #ffc135 !important; }

header {
  width: 100%;
  height: 125px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }
  header nav ul {
    margin: 2em 0; }
    header nav ul .brand {
      float: left; }
      header nav ul .brand:hover {
        border-bottom: none; }
    header nav ul li {
      cursor: pointer;
      float: right;
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      color: white;
      margin: 0 25px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); }
      header nav ul li a {
        font-size: 14px !important;
        font-weight: 700 !important;
        font-family: inherit; }
        header nav ul li a:hover {
          color: white; }
      header nav ul li:hover {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        border-bottom: 2px solid #ffc135; }

.bf__au__hm {
  padding: 50px 0;
  background: #202020; }
  .bf__au__hm .bf__trips__grid h1 {
    margin-left: 20px; }
  .bf__au__hm .gi__ft {
    height: 310px; }
  .bf__au__hm .gi__hlf {
    height: 145px; }
    .bf__au__hm .gi__hlf .featured__slide {
      background-size: cover;
      height: inherit; }
      .bf__au__hm .gi__hlf .featured__slide h2 {
        font-size: 24px; }
      .bf__au__hm .gi__hlf .featured__slide p {
        font-size: 12px; }
      .bf__au__hm .gi__hlf .featured__slide .rating__dots {
        display: none; }
  .bf__au__hm .bf__grid__item {
    margin: 5px 0;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px; }

body {
  background: #202020 !important; }

.au__search {
  background: url("../img/au__bg.jpg") center center #222;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .au__search .au__search__results__container .load__more__button {
    margin: 30px auto; }
    .au__search .au__search__results__container .load__more__button .button {
      width: 100%;
      font-size: 20px; }
      .au__search .au__search__results__container .load__more__button .button i {
        font-size: 90%;
        padding: 0 10px; }
  .au__search .au__search__results__container .au__search__result__card {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    background: #111;
    border-radius: 3px;
    padding: 15px;
    color: #444; }
    .au__search .au__search__results__container .au__search__result__card h1 {
      font-size: 20px;
      color: #1b367b;
      padding: 0; }
    .au__search .au__search__results__container .au__search__result__card .card__img {
      display: inline-block; }
      .au__search .au__search__results__container .au__search__result__card .card__img img {
        vertical-align: baseline;
        height: auto; }
    .au__search .au__search__results__container .au__search__result__card .view__trip {
      display: block; }
      .au__search .au__search__results__container .au__search__result__card .view__trip .view__trip__btn {
        text-align: center;
        display: block;
        width: 100%;
        padding: 15px 25px;
        background: #ffc135;
        color: #1b367b;
        border-radius: 3px;
        box-shadow: 0 1 3px rgba(0, 0, 0, 0.4);
        transition: all .2s; }
        .au__search .au__search__results__container .au__search__result__card .view__trip .view__trip__btn:hover {
          background: #1b367b;
          color: #ffc135; }
    .au__search .au__search__results__container .au__search__result__card .trip__types {
      height: 25px;
      display: inline-block;
      font-family: 'Nunito';
      color: #fff;
      font-weight: bold;
      font-size: 13px;
      -webkit-padding-start: 0 !important; }
      .au__search .au__search__results__container .au__search__result__card .trip__types li {
        line-height: 30px;
        margin: 0 10px;
        display: inline-block;
        text-decoration: none; }
        .au__search .au__search__results__container .au__search__result__card .trip__types li i {
          padding: 0 5px;
          color: dodgerblue; }
  .au__search .au__search__form__container {
    margin-top: 3em;
    font-family: 'Nunito'; }
    .au__search .au__search__form__container label {
      color: #ffc135;
      padding: 10px;
      font-weight: bold;
      font-size: 16px; }
    .au__search .au__search__form__container input[type="text"] {
      padding: 25px 45px;
      background: rgba(0, 0, 0, 0.75);
      outline: none;
      border: none;
      color: #ffc135;
      font-family: inherit;
      font-size: 13px;
      font-weight: bold; }
      .au__search .au__search__form__container input[type="text"]:focus {
        box-shadow: none;
        outline: 0;
        border: none; }
    .au__search .au__search__form__container .search__btn {
      transition: all .2s;
      padding: 25px;
      display: block;
      text-align: center;
      background: #1b367b;
      border-radius: 3px;
      color: #ffc135;
      font-size: 15px;
      font-weight: bold; }
      .au__search .au__search__form__container .search__btn:hover {
        opacity: .75; }
    .au__search .au__search__form__container .au__select {
      font-size: 13px;
      font-weight: bold; }
      .au__search .au__search__form__container .au__select option {
        padding: 10px;
        color: black !important; }
    .au__search .au__search__form__container .overnight__box {
      font-weight: bold;
      color: #ffc135;
      font-size: 14px; }

@media screen and (max-width: 1025px) {
  .hero__au {
    height: inherit; }

  .hero__content__au__wrap {
    margin-top: 0 !important; }
    .hero__content__au__wrap .hero__content__au .cta__land {
      margin: 0 auto;
      text-align: center; }
      .hero__content__au__wrap .hero__content__au .cta__land h1 {
        font-size: 55px; }
        .hero__content__au__wrap .hero__content__au .cta__land h1 small {
          display: block;
          font-size: 60%;
          color: white;
          margin: .4em 0; }

  .fact__box__au {
    margin: 0 auto; }

  .landing__featured__trips__au {
    margin: 3.5em 0; } }
@media screen and (max-width: 840px) {
  header nav ul li:not(.m) {
    display: none !important; } }

/*# sourceMappingURL=main.css.map */
